<h3>ユーザー編集</h3>

<%= render "shared/error",obj:@schedule %>

<%= form_with model: @schedule do |form| %>
  <table>
    <tr>
      <th><%= form.label :title ,"タイトル" %></th>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr>
      <th><%= form.label :start_time ,"開始日" %></th>
      <td><%= form.date_field :start_time %></td>
    </tr>
    <tr>
      <th><%= form.label :finish_time ,"終了日" %></th>
      <td><%= form.date_field :finish_time %></td>
    </tr>
    <tr>
      <th><%= form.label :all_day ,"終日" %></th>
      <td><%= form.check_box :all_day,{},checked_value= "○",unchecked_value= "" %><br><%= "終日の場合はチェックを入れます" %></td>
    </tr>
    <tr>
      <th><%= form.label :schedule_memo ,"スケジュールメモ"  %></th>
      <td><%= form.text_area :schedule_memo %></td>
    </tr>
  </table>
  <div>
    <ul>
      <li><%= form.submit "スケジュールの編集を完了する" %></li>
      <li><%= link_to "ユーザー情報一覧に戻る", :schedules %></li>
    </ul>
  </div>
<% end %>
