<h3>スケジュール一覧</h3>

<% if flash.notice %>
  <p class="notice"><%= flash.notice %></p>
<% elsif flash[:destroy_notice] %>
  <p class="destroy_notice"><%= flash[:destroy_notice] %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>スケジュール更新日時</th>
      <th>確認</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% if @schedules.present? %> 
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= schedule.title %></td>
          <td><%= schedule.start_time.strftime("%Y年%m月%d日") %></td>
          <td><%= schedule.finish_time.strftime("%Y年%m月%d日") %></td>
          <td><%= schedule.all_day %></td>
          <td><%= schedule.updated_at.to_s(:datetime_jp) %></ td>
          <td>
            <%= link_to "確認",schedule %>
          </td>
          <td>
            <%= link_to "編集",[:edit,schedule] %>
          </td>
          <td>
            <%= link_to "削除",schedule,method: :delete, data:  {confirm:"本当に削除しますか？"} %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan = "9" ><%= "現在登録しているスケジュールはありません" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "スケジュール新規登録", :new_schedule %></p>



